<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Mongo database settings -->
		<add key="MongoDB_MasterDB_Name" value="ChsongoTests"/>
		<add key="MongoDB_MasterDB_UserName" value=""/>
		<add key="MongoDB_MasterDB_Password" value=""/>

		<add key="MongoDB_SlaveDB_Name" value="ChsongoTests02"/>
		<add key="MongoDB_SlaveDB_UserName" value=""/>
		<add key="MongoDB_SlaveDB_PasswordName" value=""/>
	</appSettings>

	<connectionStrings>
		<add name="MongoDB_Master" connectionString="mongodb://localhost"/>
	</connectionStrings>

</configuration>